* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Pretendard, -apple-system, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

// FONT
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("/public/fonts/Pretendard-Thin.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("/public/fonts/Pretendard-ExtraLight.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("/public/fonts/Pretendard-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("/public/fonts/Pretendard-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("/public/fonts/Pretendard-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("/public/fonts/Pretendard-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("/public/fonts/Pretendard-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/Pretendard-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/Pretendard-Black.ttf") format("ttf");
}
